<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <title>Document</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            color: white;
        }

        .hero-section {

            background-image: url("https://www.thediaryofanomad.com/wp-content/uploads/2020/04/best-places-to-visit-in-lahore-badshahi-mosque.jpg");

            height: 380px;
            background-size: cover;
            text-align: center;
            padding: 50px;
        }


        .hero-section h1 {
            font-size: 2.5em;
            margin-bottom: 20px;
        }

        .hero-section p {
            margin-bottom: 20px;
        }

        button {
            background-color: #e74c3c;
            border: none;
            padding: 10px 20px;
            margin-right: 10px;
            color: white;

        }



        .dastar{
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
        }

        .id {
            text-align: center;
            background-color: black;
        }

        .social-icons {
            display: flex;
            align-items: center;
        }

        .social-icons a {
            margin-right: 10px;
            color: #007bff; /* Change the icon color as needed */
            font-size: 18px;
        }

        .social-icons a:hover {
            color: #0056b3; /* Change the icon color on hover as needed */
        }

        @media (max-width: 768px) {
            .social-icons {
                margin-top: 10px;
                justify-content: flex-end;
            }

            .social-icons a {
                margin-right: 0;
            }
        }
        .video {
            width: 420;
            height: 345;
            margin-top: 21%;
            border-bottom-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
        }
        .fa {
  padding: 20px;
  font-size: 20px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px  ;

  margin-left: 10px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}



.fa-google {
  background: #dd4b39;
  color: white;
}



.fa-youtube {
  background: #bb0000;
  color: white;
}
    </style>
</head>

<body>
    <header>
        <section class="dastar">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="Home.html">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="Home.html">Home</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="cities.html">Cities</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="persanalities.html">persanalities</a>
                                      </li>
                                      <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="place.html">Place</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" href="contact.html">Contact</a>
                                    </li>
                        </ul>
                    </div>
                    </div>
                    <div class="social-icons"> 
                        <!-- <a class="nav-link active" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                        <a class="nav-link active" href="https://twitter.com/i/flow/login"><i class="fab fa-twitter"></i></a>
                        <a class="nav-link active" href="#"><i class="fab fa-youtube"></i></a> -->
                        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                        
                        <a href="https://www.google.com/" class="fa fa-google"></a>
                        
                        <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
                      
                        <!-- <a href="https://www.youtube.com/" class="fa fa-youtube"></a> -->
                </div>
            </nav>
        </section>

        <div class="hero-section">
            <br> <br>
            <h1>My favorite Places is.</h1>
            <h2>
                They are lot of beautiful places in our country
            </h2>
            <button>Places</button>
        </div>
        <br>
        <ul style="background-color: black ;">
            <li>Karachi</li>
            <li>Lahore</li>
            <li>Islamabad</li>
            <li>Multan</li>
            <li>Peshawar</li>
            <li>Skardu</li>
        </ul>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://i.dawn.com/primary/2014/08/53f345b27fb58.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Karachi</h5>
                        <p class="card-text">Karachi, the largest city in Pakistan, is a bustling metropolis on the
                            Arabian Sea. Known for its rich cultural diversity, the city blends historic landmarks with
                            a modern urban landscape. As the country's economic hub, Karachi plays a pivotal role in
                            trade, commerce, and finance. With vibrant markets, iconic beaches, and a dynamic
                            atmosphere, Karachi is a vibrant tapestry of tradition and progress.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Pakistan</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://scontent.flhe5-1.fna.fbcdn.net/v/t1.6435-9/33430642_10156133362700767_872919353786368000_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=7f8c78&_nc_ohc=QCkJOYpQHZYAX_c6slw&_nc_ht=scontent.flhe5-1.fna&oh=00_AfD9HK2PTeTduSL33AxbViVhdFwYaZNLIhKHm9PXmrSv4Q&oe=65C23ED5"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Multan</h5>
                        <p class="card-text">Multan, often referred to as the "City of Saints," is one of the oldest
                            cities in Pakistan. Situated in the province of Punjab, it boasts a rich history, featuring
                            ancient shrines, bazaars, and a vibrant cultural heritage. Known for its Sufi traditions,
                            Multan is a melting pot of history, spirituality, and architectural marvels.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Pakistan</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://thebellahotel.com/wp-content/uploads/2022/04/why-Islamabad-is-so-beautiful.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Islamabad</h5>
                        <p class="card-text">As the capital city of Pakistan, Islamabad is a modern and meticulously
                            planned metropolis. Nestled against the backdrop of the Margalla Hills, it offers a serene
                            and picturesque environment. Known for its government buildings, greenery, and diplomatic
                            importance, Islamabad serves as the political heart of the nation..</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Pakistan</small>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://t3.ftcdn.net/jpg/02/91/02/16/240_F_291021669_qNyqfC3fzRXRKnQdY4lzPkjLfJIRlWBS.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Peshawar</h5>
                        <p class="card-text">Peshawar, the capital of Khyber Pakhtunkhwa province, is a city steeped in
                            history and culture. Nestled on the edge of the historic Khyber Pass, Peshawar has been a
                            crossroads of various civilizations. With bustling markets, historic landmarks, and a
                            resilient spirit, Peshawar stands as a testament to the region's diverse heritage..</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Pakistan</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://www.thediaryofanomad.com/wp-content/uploads/2020/04/best-places-to-visit-in-lahore-badshahi-mosque.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lahore</h5>
                        <p class="card-text">Lahore, the cultural capital of Pakistan, is a city that seamlessly blends
                            history with modernity. Known for its Mughal-era architectural wonders such as the Badshahi
                            Mosque and Lahore Fort, the city is a hub of vibrant bazaars, cultural festivals, and
                            delectable cuisine. Lahore's lively atmosphere and rich heritage make it a captivating
                            destination for locals and tourists alike..</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Pakistan</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src=https://t3.ftcdn.net/jpg/03/49/48/86/240_F_349488686_rv7S77LDDaTDusnWXvM11oO1860PuKac.jpg
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sakardu</h5>
                        <p class="card-text">Skardu, located in the breathtaking Gilgit-Baltistan region, is a gateway
                            to some of the world's highest peaks, including K2. Surrounded by towering mountains and
                            serene lakes, Skardu is a haven for adventure enthusiasts. The town's Tibetan and Balti
                            influences, coupled with its stunning landscapes, make it a captivating destination..</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Pakistan</small>
                    </div>
                </div>
            </div>
        </div>

        <iframe class="video" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>

    </header>

</body>



</html>